<template>
  <div class="home container">
    <MainApp></MainApp>
  </div>
</template>

<script>
import MainApp from "@/components/MainApp.vue";

export default {
  name: "Home",
  components: {
    MainApp,
  }
};
</script>
